/* Enrolled Course Card Design */
.course-card {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}

.course-page-body {
  margin-bottom: 32px;
}

.course-page-body > :where(.css-dev-only-do-not-override-2i2tap).ant-card {
  width: 1215px;
}

.action {
  padding: 16;
  border-left: 1px #f0f0f0 solid;
  gap: 16;
  display: inline-flex;
  padding: 8px 15px 8px 15px;
  justify-content: center;
}

.title {
  text-align: justify;
  font-family: "Inter", sans-serif;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-btn {
  border-radius: 2px;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-card-bordered {
  margin: 32px 32px 0px 113px;
  border-radius: 8px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08);
}

/* All Course Card Design */
.all-courses-body {
  margin: 32px 113px 32px 113px;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-card .ant-card-head {
  text-align: center;
  border-bottom: initial;
  padding: 16px 32px 0px 32px;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-card .ant-card-body {
  text-align: justify;
  padding: 24px 24px 24px 24px;
}

.course-title {
  padding: 16px 32px 16px 32px;
  font-family: "Inter", sans-serif;
  width: 80%;
}

.course-card > .course-title h4 {
  color: var(--character-primary-85, rgba(0, 0, 0, 0.85));
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.course-card > .course-title p {
  color: var(--neutral-8, #595959);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

:where(.css-dev-only-do-not-override-2i2tap).ant-col-xl-8 {
  margin-bottom: 24px;
}

/* Media query for smaller screens */
/* @media (max-width: 768px) {
  .course-card {
    flex-direction: column;
    align-items: center;
  }

  .action {
    width: 100%;
    margin-top: 16px; /* Adjust margin as needed */
/* } */ 

/* Exam History Card */
.detail {
  border-left: 1px solid var(--neutral-4, #f0f0f0);
  width: 100%;
  padding: 16px;
  border-left: 1px #f0f0f0 solid;
  gap: 16;
  display: flex;
  padding: 8px 15px 8px 15px;
  box-shadow: "0px 2px 0px rgba(0, 0, 0, 0.04)";
  justify-content: center;
  align-items: center;
}

.exam-card-design > :where(.css-dev-only-do-not-override-2i2tap).ant-card {
  width: 1215px;
}

.detail-header {
  line-height: 22px;
  width: 60%;
}

.exam-card {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding: 16px 32px 16px 32px;
}

.exam-card-design {
  margin-bottom: 32px;
}

.exam-history {
  align-self: center;
  width: 100%;
}

.exam-history > h4 {
  color: var(--character-primary-85, rgba(0, 0, 0, 0.85));
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.exam-history > p {
  color: var(--neutral-8, #595959);
  text-align: justify;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.information {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail {
  display: block;
  width: 60%;
}

.view-exam-history {
  width: 100%;
  padding: 8px 15px 8px 15px;
  text-align: center;
}

.question {
  margin: 16px 0px 16px 44px;
  display: flex;
  justify-content: space-between;
}

.answer-group {
  margin-left: 100px;
  margin-bottom: 16px;
}

.answer-exam-form {
  border-bottom: 1px solid #d9d9d9;
}

.icon {
  align-self: center;
}

.answer-exam-form > p {
  font-size: 16px;
}

.question p {
  font-size: 16px;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-radio-wrapper span.ant-radio+* {
  font-size: 16px;
}

.detail-history {
  display: block;
    width: 100%;
}

/* .search-box .search-input {
  width: 200px;
} */