@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto+Condensed&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.top-level {
  display: flex;
  margin: 32px 113px 30px 113px;
  justify-content: space-between;
}

.header {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  /* margin: 32px 0px 0px 113px; */
  font-family: "Inter", sans-serif;
  display: flex;
  color: #0050B3;
  margin: 0;
  padding: 0;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-modal .ant-modal-content {
  border-radius: initial;
}

.ant-input-search :where(.css-dev-only-do-not-override-2i2tap).ant-input-group .ant-input-affix-wrapper:not(:last-child) {
  border-radius: 2px !important;
}

:where(.css-dev-only-do-not-override-2i2tap).ant-input-affix-wrapper {
  width: 200px !important;
  min-width: initial;
}